body {
    font-family:sans-serif;
    margin-left: 200px;
    padding-right: 200px;
    background-color:#E6E6FF;
    color:#0000B2;
}

h1 {
   margin:20px;
   color:#0000FF;	
   text-align:center;
   font-weight:bold;
}

h2 {
   margin:20px;
   color:#4D4DFF;	
   text-align:center;
   font-style:italic;
}

table 
{
    width:100%;
    border:0px;
    vertical-align:bottom;
}

td tr
{
    vertical-align:bottom;
}

p {
    text-indent: 0;
    width:100%;
}

input[type="text"] {
    width:200px;
}

input[type="password"] {
    width:200px;
}

textarea {
    height:400px;
    width:500px;
}

.error {
    color:red;
}

.titlebar {
    color:#298A08;
    text-align:center;
}

.title {
    font-weight:bold;
    text-align:left;
    font-size:24px;

}

.date {
    font-weight:lighter;
    text-align:right;
    vertical-align:bottom;
    font-size:10px;
    font-style:italic;
}